/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Header Styles */
.header {
    background-color: black;
    color: white;
    text-align: center;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation Styles */
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CCFF66;
    height: 60px; /* Reduced height */
    font-weight: bold;
    position: fixed;
    top: 37px;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    box-shadow: 0 20px 20px 20px #CCFF66;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Adjusted gap */
    height: 100%;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px; /* Adjusted line-height for vertical alignment */
}

/* Register Button Styles */
.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 97px; /* Adjusted for new navigation height */
    z-index: 998;
}

.button {
    padding: 12px 24px;
    font-size: 18px; /* Slightly reduced for better fit */
    color: black;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    background-color: #CCFF66;
}

/* Background Image Styles */
.background-image {
    background-image: url('../img/image1.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 117px; /* Adjusted for new navigation height */
    z-index: -1;
}
